<h1>コート名</h1>
<%= @map.name %>
<%= @map.caption %>
<%= @map.address %>

<script type="text/javascript">
  function initMap() {
    var test ={lat: <%= @map.latitude %>, lng: <%= @map.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: test

    });

    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @map.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });


    var marker = new google.maps.Marker({
        position:test,
        map: map,
        title: contentString

    });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMvnKkCHQs0i4WmEQUr0xly_irgbl7SXw&callback=initMap" async defer></script>
</script>
<style type="text/css">
  #map { height: 200px;
         width: 70%;}
</style>

<div id="map"></div>
<%= link_to '削除',admin_map_path,method: :delete %>