<div class = "container-fluid">
  <div class = "row">
    <div class="sidebar col-sm-2 hidden-xs bg-secondary">
      <p>Sidebar</p>
      <li><%= link_to "ホーム",root_path, class: "fas fa-home text-light" %></li>
      <li><%= link_to "投稿",new_tweet_path, class: "fas fa-plus text-light" %></li>
      <li><%= link_to "お気に入り", mypages_path, class: "fas fa-star text-light" %></li>
      <li><%= link_to "コート",maps_path, class: "fas fa-basketball-ball text-light" %></li>
    </div>
    <div class = "col-sm-10 col-sm-offset-3">
<!-- 地名入力用のinputを追加 -->
<input id="address" type="textbox" value="東京">

<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="Encode" onclick="codeAddress()">

<div id='map'></div>
<style type="text/css">
#map { height: 600px;
         width: 100%;}
</style>

<script>
  let map
  let geocoder
  function initMap(){
    //geocoderを初期化
    //引用者注:google.maps.Geocoderインスタンスを生成
    geocoder = new google.maps.Geocoder()
    // 引用者注:google.maps.Mapインスタンスを生成することで、地図のデフォルト位置(緯度経度、ズーム)を設定
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.68123620000001, lng:139.7671248},
      zoom: 12,
    });

//検索フォームのボタンが押された時に実行される


<% @maps.each do |m| %>
(function(){
  //住所を変数に代入
  var contentString = "<%= m.name %>";

  //吹き出しの追加
  var infowindow = new google.maps.InfoWindow({
    content: contentString   //吹き出しに表示する内容
  });

  var marker = new google.maps.Marker({
    position:{lat: <%= m.latitude %>, lng: <%= m.longitude %>},
    map: map,
    title: contentString

  });
  marker.addListener('click', function() {　　//マーカをクリックしたとき
            infowindow.open(map, marker);　　//吹き出しの表示
  });

})();
<% end %>
}

function codeAddress(){
  //検索フォームの入力内容を取得
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    //該当する検索結果がヒットした時に、地図の中心を検索結果の緯度経度に更新する
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);

      //google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      //google.maps.Markerインスタンスを生成
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      //検索結果が何もなかった場合に表示
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
</div>
 </div>
</div>