<div class="notice"><%= notice %></div>
<div class = "container mt-5">
  <h2 class = "text-center">
    <%= @map.name %>
    <div id = "bookmark_buttons_<%= @map.id%>">
      <%= render 'bookmarks/bookmark',map: @map%>
    </div>
  </h2>
  <div class = "row">
    <table class = "table table-bordered">
        <tr>
          <th class = "bg-danger">コート名</th>
          <td><%= @map.name %></td>
        </tr>
        <tr>
          <th class = "bg-danger">詳細</th>
          <td><%= @map.caption %></td>
        </tr>
        <tr>
          <th class = "bg-danger">住所</th>
          <td><%= @map.address %></td>
        </tr>
    </table>
  </div>
  <div class = "row">
    <div class = "col-6">
      <%= render 'counts/count',map: @map%>
    </div>
    <div class = "col-6">
      <%= render 'map_comments/comment' %>
      <%= paginate @map_comments %>
      <%= form_with model:[@map,@map_comment],local: true do |f| %>
      <%= f.text_area :comment, class: "form-control",width: 200, placeholder: "コメントをここに" %>
      <%= f.submit '送信', class: "btn btn-sm  btn-info mt-3"%>
      <%end%>
    </div>
  </div>
</div>