<%= render 'layouts/errors',obj: @tweet_comment %>
<main class = "container">
  <%= render 'tweet_comments/comment' %>
  <div class = "row">
    <div class = "col-lg-3">
    <%= form_with model:[@tweet,@tweet_comment],local: true do |f| %>
    <%= f.text_area :comment, class: "form-control",width: 200, placeholder: "コメントをここに" %>
    <%= f.submit '送信', class: "btn btn-sm  btn-info mt-4"%>
    </div>
    <% end %>
  </div>
</main>

