 <% if map.counted_by?(current_user) %>
 <i class = "fas fa-fire fire"></i>
 現在プレー中のプレイヤー<%= map.counts.count %>人
 <i class = "fas fa-fire fire"></i><br>
  <%= button_to 'コートから出る', map_counts_path(map), method: :delete, local: true, class: "but " %>
  <%else%>
 <i class = "fas fa-fire fire"></i>
 現在プレー中のプレイヤー<%= map.counts.count %>人
 <i class = "fas fa-fire fire"></i><br>
  <%= button_to 'コートに入りますか？', map_counts_path(map), method: :post, local: true, class: "fas fa-basketball-ball" %>
  <%end%>

 <table class = "table table-bordered mt-3">
  <thead>
   <tr>
    <th>プレイヤー</th>
   </tr>
  </thead>
  <tbody>
   <% @counts.each do |count| %>
   <tr>
    <td><%= count.user.name %></td>
   </tr>
   <% end %>
  </tbody>
</table>