<header class="bg-secondary">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      ロゴ入れる予定
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-md-column" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto mb-2">
             <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "マイページ",user_path(current_user.id), class: "nav-link text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to 'コートを探す',maps_path,class: " nav-link text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規投稿",new_tweet_path,class: "nav-link text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to "投稿一覧",tweets_path,class: "nav-link text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト",destroy_user_session_path,method: :delete, class: "nav-link text-light" %>
        </li>
        <%else%>
        <li class="nav-item">
          <%= link_to '新規会員登録',new_user_registration_path, class: "nav-link text-light" %>
        </li>
        <li>
          <%= link_to 'ログイン',new_user_session_path, class: "nav-link text-light" %>
        </li>
        <%end%>
        </ul>
      </div>
    </div>
  </nav>
</header>
